<% if User.current.allowed_to?(:vote_polls, Project.find_by_id(poll.project_id))%>
<% form = form_tag({:controller => 'polls', :action => 'vote',:project_id => poll.project_id,
                                     :back_url => url_for(params)}) do %>
<table class="list">
    <tr>
        <th><%= poll.question %> </th>
        <th style="width:10%"/>
        <th style="width:10%"/>
    </tr>

    <% poll.choices.each do |choice| %>
        <tr>
            <td> <%= choice.text %> </td>
            <td align="center"><%= choice.votes.size.to_s %> </td>
            <td align="right">
                <nobr>
                    <%
                       is_voted = vote!=nil ? choice.id == vote.choice_id : false
                    %>
                    <%= link_to(image_tag('false.png'),
                                {:controller => 'polls', :action => 'reset_vote', :poll_id => poll , :project_id => poll.project_id,
                                :back_url => url_for(params)},
                                :method => :post,:title => l(:vote_remove)) if is_voted and poll.revote %>
                    <%= radio_button_tag(:choice_id, choice.id, is_voted, :onclick => "this.form.submit()", :disabled => (vote and !poll.revote)) %>
                </nobr>
            </td>
        </tr>
    <% end %>
</table>
<% end %>
<%= form if Rails::VERSION::MAJOR >= 3 %>
<% end %>