<div id="edit-news">
    <h2><%=l(:poll_edit)%></h2>
    <% form = labelled_form_for :poll, @poll, :url => {:action => 'edit', :id => @poll,:project_id => @project},
                                 :html => { :id => 'polls-form', :class => 'tabular' } do |f| %>
        <%= render :partial => 'form', :locals => { :f => f } %>
        <%= submit_tag l(:button_update) %>
    <% end %>
    <%= form if Rails::VERSION::MAJOR >= 3 %>
    <%= link_to l(:button_cancel), { :action => 'index', :project_id => @project} %>
</div>